*{box-sizing: border-box;}
html{
    scroll-behavior: smooth;

}
.navBar{background-color: rgb(175, 77, 20);
color: blueviolet;
}
.nav_link{
    color: darkmagenta ;
    display: inline-block;
    padding: 1em 2em;
    font-size: 1.3em;
    text-decoration: none;
}

.nav_link:hover{
    color: coral;
    background-color: darkorange;
    font-weight: 900;
}

.inv1{
    color: rgb(221, 130, 18);
    font-family: monospace;
    font-size: 2.1em;
    background-color: darkolivegreen;
}
.container4{
    background-color: rgb(214, 124, 20);
    display:flex;
    flex-wrap: wrap;
}


.title{
    text-align: center;
    position: absolute;
    font-family:monospace;
    font-size: 1.5em;
    color: rgb(73, 64, 56);
    background-color: coral;
    padding: 1em;
    bottom: 0%;
    border-radius: 2em;
    border-color: black;
}
.img_cont4{
    width:35em;
    height:35em;
}

.invert1{
    filter: invert(100%);
    width: 35em;
    height: 35em;
}

.container3{
    background-color:rgb(235, 138, 11);
    display: flex;
    flex-wrap: wrap;
}
.blur{
    color: chocolate;
    font-family: monospace;
    font-size: 2,1em;
    background-color: antiquewhite;
}
 .img3{
    width: 35em;
    height: 35em;
 }
 .blur1{
    filter: blur(100%);
 }
 .p1{
    text-align: left;
    left: auto;
    position: absolute;
    font-family: monospace ;
    font-size: 1.5em;
    color: black;
    background-color: rgb(184, 30, 30);
    padding: 1.3em;
    border-radius: 2em;
    border-color: black;
 }
 .sep1{
    color: chocolate;
    font-family: monospace;
    font-size: 2.1em;
    background-color: darkgrey;
 }
 .container2{
    background-color: coral;
    display: flex;
    flex-wrap: wrap;
 }

 .img2{
    height: 35em;
    width: 35em;
    filter: sepia(100%);
 }
 .p2{
    text-align:end ;
    position: absolute;
    background-color:rgb(126, 57, 33) ;
    color:lightsalmon ;
    font-family: monospace;
    font-size: 2em;
    border-radius: 2em;
 }
 .p3{
    color:black ;
    background-color:orange ;
    border-radius: 2em;
    font-size: 2em;
    font-family: monospace;
    text-align: middle;
    position: absolute;
    top: 65em;
    transform: translate(-50%,-50%);
 }
 .p4{
    color:rgb(182, 112, 21) ;
    background-color:lightsalmon ;
    border-radius: 2em;
    font-size: 2em;
    font-family: monospace;
    text-align: middle;
    position: absolute;
    top: 70em;
    transform: translate(-50%,-50%);
 }