*{box-sizing: border-box;}
html{scroll-behavior: smooth;}
.title{
font-size:2.5em ;
text-align: center;
color: black;
background-color: rgb(24, 219, 24);
font-family: monospace;
transition: ease-in-out 3s;}


.title:hover{
    font-family:algerian;
    color: cadetblue;
    text-shadow: 1px,1px,5px;
}
.Intro{
    text-align: center;
    background-color: green;
}
.navHoz{
    background-color: rgb(49, 139, 139);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.navHoz a{
    color: rgb(0, 172, 23);
    display: inline-block;
    padding: 1em 3em;
    text-decoration: none;
    width: 25%;
    text-align: center;
}
.navHoz a:hover{
    background-color: blueviolet;
    font-weight: bolder;
    box-shadow:  0px 0px 5px 1px;
    text-align: center;
}

img{
    width: 100%;
    display: block;
}
.testing{
    width: 30%;
    margin-right: auto;
    padding-left: 9em;
}
.introtext{
    font-size: 1em;
    font-family: Cambria;
    padding-bottom: 1em;
    padding-right:1em ;
    margin: 2em;
    color: rgb(27, 121, 27);
    background-color: bisque;
    border-radius: 1em;
    border-color: black;
    margin-left: auto;
}

.see1{
    width:50%;
    margin-top: auto;
}
.see2{
    width: 50%;
    
}

.see3{
    width: 50%;
    margin: bottom 5px; ;
}

.see4{
    width: 50%;
  margin: left 50px;
}

.img1{
    width: 45%;
    box-shadow: 1px 1px 5px rgb(16, 128, 6);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 1em;
    transition: ease 300ms;
}

.container1{

    width: 75%;
    box-shadow: 1px 1px 5px rgb(16, 128, 6);
    position: relative;
    overflow: hidden;
    margin: 1em;
    transition: ease 300ms;
    float: right;;
    

}


.na1{
    width: 35%;
    box-shadow: 1px 1px 5px rgb(16, 128, 6);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 1em;
    transition: ease 300ms;
    margin-left:32%;
    }
.na2{
    width: 35%;
    box-shadow: 1px 1px 5px rgb(16, 128, 6);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 1em;
    transition: ease 300ms;
    margin-left: auto;
    margin-bottom: auto;
}
    
.ok{
    width: 45%;
    box-shadow: 1px 1px 5px rgb(16, 128, 6);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 1em;
    transition: ease 300ms;

}

.email{
    font-size: 1em;
    font-family: Cambria;
    padding-bottom: 1em;
    padding-right:1em ;

}
.m{width: 45%;
    box-shadow: 1px 1px 5px rgb(16, 128, 6);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 1em;
    transition: ease 300ms;

}





.img2{
    width:150px;
    margin-left: auto;
    
}

.img3{
    width:150px;
    margin-top: auto;

}

.img4{
    width: 150px;
    margin-right: auto;
    margin-bottom: auto;
}

.row1{
    height: 35%;
    width: 35%;
    margin-left: 30%;
}
.classwork{
    font-size: 1.2em;
    color: green;
}
.bgwork{
   background-color: bisque;
}
.CW{
    text-align: center;
    background-color: green;
}

.tk{
    width: 45%;
    box-shadow: 1px 1px 5px rgb(16, 128, 6);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 1em;
    transition: ease 300ms;
}


.tk2{
    width: 45%;
    box-shadow: 1px 1px 5px rgb(233, 6, 112);
    position: relative;
    
    border-radius: 10px;
    overflow: hidden;
    margin: 1em;
    transition: ease 300ms;

}


.im.tk.tk2{
    width: 75%;
    box-shadow: 1px 1px 5px rgb(5, 5, 5);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 1em;
    transition: ease 300ms;
}

.im{
    width: 75%;
    box-shadow: 1px 1px 5px rgb(5, 5, 5);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 1em;
    transition: ease 300ms;
}

.li{
    width: 25%;
    box-shadow: 1px 1px 5px rgb(5, 5, 5);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 1em;
    transition: ease 300ms;
    
    
}

.g4{
    width: 45%;
    box-shadow: 1px 1px 5px rgb(5, 5, 5);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 1em;
    transition: ease 300ms;

}
    
    


.gg5{
    width: 55%;
    box-shadow: 1px 1px 5px rgb(5, 5, 5);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 1em;
    transition: ease 300ms;
}

.li{
    width: 45px;;
    height: fit-content;

    width: 50%;
    height: fit-content;
    
    margin-right: auto;

}

.navHoz{
    background-color: darkgreen;
   font-size: large;
    text-align: center;
    color: yellow;

}
.taylor{
width: 2px;
height:2px;
}
.email{
 font-size: 1.5em;
 color: green;
 margin: 2%;

}
.Adress{
    font-size: 1.5em;
    color: green;
    margin: 2%;
}
.phone{
    font-size: 1.5em;
    color: green;
    margin: 2%;
}