*{box-sizing: border-box;}
html{scroll-behavior: smooth;}
.title{
font-size:2.5em ;
text-align: center;
color: black;
background-color: rgb(24, 219, 24);
font-family: monospace;
transition: ease-in-out 3s;}


.title:hover{
    font-family:algerian;
    color: cadetblue;
    text-shadow: 1px,1px,5px;
}

.navhoz{
    background-color: darkgreen;
    display: flex;
    flex-wrap: wrap;
}

