*{box-sizing: border-box;}
html{ scroll-behavior: smooth;}
.title{
    font-size: 2.5em;
    text-align: center;
    color: rgb(241, 120, 7);
    background-color: black;
    font-family: monospace;
    transition: ease-in-out 2s;
}
.title:hover{
    font-family: algerian;
    color: rgb(207, 71, 8);
    text-shadow: 1px 1px 5px black;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.Chucky{
    width: 40%;
    position: relative;
    margin: 2%;
}
.txt{
    width: 40%;
      margin: 2%;
}
.img1{font-size: 45px;
    padding: 5px;
    font-family: fantasy;
}
img{
    width: 100%;
    display: block;
}

.mgs1{
    font-size: 45px;
    padding: 5px;
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-family: fantasy;
}

.p1{
    font-size: 45px;
    padding: 5px;
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-family: fantasy;

}
.Halloween{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.img2{
    float: left;
    font-size: 45px;
    padding: 5px;
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-family: fantasy;
    width:50%;
}

.mgs2{
      color: rgb(226, 36, 3);
      font-size: 45px;
      padding: 5px;
       margin-top: 2em;
       margin-bottom: 0.5em;
      font-family: fantasy;
    }

    .p2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    width: 70%;
    top:5em auto;
    font-size: 30px;
    margin-bottom: 3em;
    color: rgb(223, 106, 11);
}
 
.clown{
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    position: relative;

}
.img3{
    font-size: 45px;
    padding: 5px;
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-family: fantasy;
    width:13.2em;
}
.mgs3{
    background-color: black;
    color: rgb(86, 139, 0);
    font-size: 45px;
    padding: 5px;
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-family: fantasy;
}


.p3{
font-size: 2.9em;
font-weight: lighter;
color: green;
background-color: antiquewhite;
}

.scream{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    position: relative;
}

.img4{
    font-size: 45px;
    padding: 5px;
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-family: fantasy;
    width:23%;
}

.mgs4{
    color: rgb(240, 14, 14);
    background-color: black;
    font-size: 45px;
    padding: 5px;
     margin-top: 2em;
    margin-bottom: 0.5em;
    font-family: fantasy;
}


.p4{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    width:60%;
    top:5em auto;
    font-size: 30px;
    margin-bottom: 3em;
    color: black;

}
.Freddy{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    position: relative;
}

.img5{ font-size: 45px;
    padding: 5px;
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-family: fantasy;
    width:23%;

}

.mgs5{
    color: rgb(209, 16, 42);
    background-color: black;
    font-size: 45px;
    padding: 5px;
    float: right;
     margin-top: 2em;
    margin-bottom: 0.5em;
    font-family: fantasy;
}
.p5{
    font-size: 2.9em;
font-weight: lighter;
color: rgb(202, 11, 11);
background-color: antiquewhite;
}

.Hocuspocus{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    position: relative;

}
.img6{
    font-size: 45px;
    padding: 5px;
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-family: fantasy;
    width:23%;
}
.mgs6{
    color: rgb(135, 18, 189);
    background-color: black;
    font-size: 45px;
    padding: 5px;
     margin-top: 2em;
    margin-bottom: 0.5em;
    font-family: fantasy;
}
.p6{ 
    font-size: 2.7em;
    color: rgb(201, 114, 15);
    background-color: beige;



}
.img7{
    font-size: 45px;
    padding: 5px;
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-family: fantasy;
    width:23%;
}

.mgs7{
    color: rgb(10, 87, 202);
    background-color: black;
    font-size: 45px;
    padding: 5px;
     margin-top: 2em;
    margin-bottom: 0.5em;
    font-family: fantasy;
}
.p7{
    font-size: 2.9em;
    font-weight: lighter;
    color: rgb(35, 18, 95);
    background-color: antiquewhite;
}

.img8{
    font-size: 45px;
    padding: 5px;
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-family: fantasy;
    width:23%;
}
.mgs8{
    color: rgb(7, 107, 146);
    background-color: black;
    font-size: 45px;
    padding: 5px;
     margin-top: 2em;
    margin-bottom: 0.5em;
    font-family: fantasy;
}
.p8{
    font-size: 2.9em;
    font-weight: lighter;
    color: rgb(16, 67, 206);
    background-color: antiquewhite;
}

.img9{ font-size: 45px;
    padding: 5px;
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-family: fantasy;
    width:50%;
}

.mgs9{
    color: rgb(240, 14, 14);
    background-color: black;
    font-size: 45px;
    padding: 5px;
     margin-top: 2em;
    margin-bottom: 0.5em;
    font-family: fantasy;
}

.p9{
    font-size: 2.9em;
    font-weight: lighter;
    color: rgb(78, 114, 167);
    background-color: antiquewhite;
}

