*{box-sizing: border-box;}
html{ scroll-behavior: smooth;}
.title{
    font-size: 2.5em;
    text-align: center;
    color: rgb(241, 120, 7);
    background-color: black;
    font-family: monospace;
    transition: ease-in-out 2s;
}
.title:hover{
    font-family: algerian;
    color: rgb(207, 71, 8);
    text-shadow: 1px 1px 5px black;
}

.navBar{
    background-color:rgb(216, 92, 10);
    color: black;
}
.nav_link{
    color: rgb(243, 124, 13);
    background-color: black;
    display: inline-block;
    padding: 1em 2em;
    font-size: 1.5em;
    font-family:italic;
}

.nav_link:hover{
    color: black;
    background-color: rgb(13, 248, 53);
    font-weight: bolder;
    font-family: fantasy;
    }

    .intro{
        font-size:2em;
        color: rgb(110, 57, 6);
        background-color: aliceblue;
       font-family: fantasy;
    }
    .homepage{
        font-size:2em;
        color: rgb(8, 5, 1);
       font-family: fantasy;

    }

 .container{
    display: flex;
    flex-wrap: wrap;
}
.Chucky{
    width: 40%;
    position: relative;
    margin: 2%;
}
.txt{
    width: 40%;
      margin: 2%;
      
}
.img1{

    font-size: 45px;
    padding: 5px;
    font-family: fantasy;
    
}
img{
    width: 100%;
    display: block;
}

.mgs1{
    background-color: black;
    color:rgb(226, 76, 7);
    font-size: 45px;
    padding: 5px;
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-family: fantasy;
}

.p1{
    font-size: 45px;
    padding: 5px;
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-family: fantasy;

}

.txt{
    width: 30%;
    box-shadow: 1px 1px 5px rgb(48, 6, 233);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 5em;
    transition: ease 300ms;
}
.Halloween{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.img2{
  border-radius: 50%;
    border: ridge olive;
    transform: scale(1.3);
    float: left;
    font-size: 45px;
    padding: 5px;
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-family: fantasy;
    width:30%;
}

.mgs2{
    background-color: black;
      color: rgb(226, 36, 3);
      font-size: 45px;
      padding: 5px;
       margin-top: 2em;
       margin-bottom: 0.5em;
      font-family: fantasy;
    }

    .p2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    width: 30%;
    top:5em auto;
    font-size: 30px;
    margin-bottom: 3em;
    color: rgb(10, 5, 0);
}
 
.clown{
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    position: relative;

}
.img3{
    font-size: 45px;
    padding: 5px;
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-family: fantasy;
    width:13.2em;
    border: ridge 12px rgb(236, 2, 2);
    transition: ease 2s;
    
} 
.mgs3{
    background-color: black;
    color: rgb(86, 139, 0);
    font-size: 45px;
    padding: 5px;
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-family: fantasy;
}


.p3{
font-size: 80%;
font-weight: lighter;
color: green;
background-color: antiquewhite;
}

.txt3{
    width: 30%;
    box-shadow: 1px 1px 5px rgb(173, 3, 11);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 5em;
}
.scream{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    position: relative;
}

.img4{
    width: 90%;
    height:90% ;
    border: ridge 12px rgb(22, 1, 1);
    transition: ease 2s;
    overflow: hidden;
    margin: 3.5em;
    font-size: 45px;
    padding: 5px;
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-family: fantasy;
    width:23%;
}

.mgs4{
    color: rgb(240, 14, 14);
    background-color: black;
    font-size: 45px;
    padding: 5px;
     margin-top: 2em;
    margin-bottom: 0.5em;
    font-family: fantasy;
}


.p4{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    width:80%;
    font-size:65%;
    margin-bottom: 3em;
    color: rgb(214, 199, 199);
    background-color: black;

}
.Freddy{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}

.img5{ font-size: 45px;
    padding: 5px;
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-family: fantasy;
    width:50%;
    height:90% ;
    border: ridge 12px rgb(233, 1, 1);
    transition: ease 2s;
    overflow: hidden;
    margin: 3.5em;
    font-size: 45px;
    padding: 5px;
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-family: fantasy;
    width:23%;
}



.mgs5{
    color: rgb(209, 16, 42);
    background-color: black;
    font-size: 45px;
    padding: 5px;
    float: right;
     margin-top: 2em;
    margin-bottom: 0.5em;
    font-family: fantasy;
}
.p5{
    font-size:80%;
font-weight: lighter;
color: rgb(202, 11, 11);
background-color: antiquewhite;
}

.Hocuspocus{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    position: relative;

}
.img6{
    width: 22%;
    box-shadow: 1px 1px 5px rgb(18, 136, 3);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 1em;
    font-size: 45px;
    padding: 5px;
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-family: fantasy;
    width:23%;
}
.mgs6{
    color: rgb(135, 18, 189);
    background-color: black;
    font-size: 45px;
    padding: 5px;
     margin-top: 2em;
    margin-bottom: 0.5em;
    font-family: fantasy;
    transition: ease-in-out 2s;
}
.p6{ 
    font-size:80%;
    color: rgb(201, 114, 15);
    background-color: beige;



}
.Coarline{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    position: relative;

}
.img7{
    width: 95%;
    box-shadow: 1px 1px 5px rgb(132, 8, 180);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 5em;
    transition: ease 300ms;
    font-size: 45px;
    padding: 5px;
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-family: fantasy;
    width:95%;
}

.mgs7{
    color: rgb(10, 87, 202);
    background-color: black;
    font-size: 45px;
    padding: 5px;
     margin-top: 2em;
    margin-bottom: 0.5em;
    font-family: fantasy;
}
.p7{
    font-size:80%;
    font-weight: lighter;
    color: rgb(35, 18, 95);
    background-color: antiquewhite;
}

.Addams{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    position: relative;
}

.img8{
    width: 75%;
    box-shadow: 1px 1px 5px rgb(113, 3, 216);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 1em;
    transition: ease 300ms;
}
.mgs8{
    color: rgb(7, 107, 146);
    background-color: black;
    font-size: 45px;
    padding: 5px;
     margin-top: 2em;
    margin-bottom: 0.5em;
    font-family: fantasy;
}
.p8{
    font-size: 80%;
    font-weight: lighter;
    color: rgb(16, 67, 206);
    background-color: antiquewhite;
}

.Casper{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    position: relative;
    
}

.img9{ width: 70%;
    box-shadow: 1px 1px 5px rgb(5, 238, 63);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 1em;
    transition: ease 300ms;
}

.mgs9{
    color: rgb(240, 14, 14);
    background-color: black;
    font-size: 45px;
    padding: 5px;
     margin-top: 2em;
    margin-bottom: 0.5em;
    font-family: fantasy;

}

.p9{
    font-size:80;
    font-weight: lighter;
    color: rgb(78, 114, 167);
    background-color: antiquewhite;
}

.Corspe{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    position: relative;
}

.img10{
    width: 90%;
    height:90% ;
    border: ridge 12px rgb(15, 5, 1);
    transition: ease 2s;
    overflow: hidden;
    margin: 3.5em;

}
.mgs10{
    color: rgb(240, 14, 14);
    background-color: black;
    font-size: 45px;
    padding: 5px;
     margin-top: 2em;
    margin-bottom: 0.5em;
    font-family: fantasy;

}

.p10{
    font-size: 80%;
    font-weight: lighter;
    color: rgb(78, 114, 167);
    background-color: rgb(216, 243, 243);

}

.txt10{
    width: 30%;
    box-shadow: 1px 1px 5px rgb(233, 108, 6);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 5em;
    transition: ease 300ms;
}


