@media only screen and (max-width:1000px){
   .intro {width: 80%;    }
}
@media only screen and (max-width:1000px){
     
    .intro {width: 96%;;    }
    .card{width: 80%;
    margin: 5% auto;
}
  .links{width: 32.9%;
padding: 1em 0em;
text-align: center;
  }  
}
@media only screen and (max-width:650px){ 
    .links{width: 31%;}
    .card{ width: 80%;}
    .intro_pg{font-size: 1.5em;}
  }
    