*{box-sizing: border-box;}
html{
    scroll-behavior: smooth;
}
.navTabs{
    background-color: coral;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
}
.links{
    display: inline-block;
    padding: 1em 3em; 
    color: darkolivegreen;
}
.links:hover{
    color: black;
    background-color: chocolate;
    font-weight: bolder;

}
/*-----INTRO IMAGE-----*/
.intro{
    box-shadow: 2px 2px 5px black;
    margin: 7em auto;
    border-radius: 1em;
    overflow: hidden;
    position: relative;
    width: 60%;
}
img{
    width: 100%;
    display: block;

}
.intro_pg{
    position: absolute;
    top: 0%;
    left: 10%;
    right: 10%;
    text-align: center;
    font-size: 2.5em;
    color: lightsalmon;
    font-weight: 900;

}
/*-------- CARDS --------*/
.title{ border-bottom: ridge 1px black;
padding-top: 3em;}
.container{
    display: flex;
    flex-wrap:wrap ;

}
.card{
    width: 29%;
    box-shadow: 2px 2px 5px rgb(29, 22, 8);
    border-radius:0.2em ;
    overflow:hidden ;
    margin: 2%;
    position: relative;
}
.cardTitle{
    padding: 0.5em 1em ;
    color: black ;
}
.cardIntro{
    padding: 0.5em 1em;
    color:purple ;
    margin-bottom: 5em;
}
.cardLink{
    position: absolute;
    bottom: 0%;
    background-color: olive;
    color:burlywood ;
    display: inline-block;
    left: 0%;
    right: 0%;
    padding: 1em;
    text-align: center;
}
.cardLink:hover{
    background-color: red;
    color:black ;
    text-decoration: none;
    font-weight: bolder;
}
/*--------FOOTER --------*/
.copyrighted{
    background-color: rgb(226, 155, 23);
    text-align: center;
    color: black;
    padding: 1em;
}