*{box-sizing: border-box;}
html{ scroll-behavior: smooth;}
.title{
    font-size: 2.5em;
    text-align: center;
    color: green;
    background-color: black;
    font-family: monospace;
    transition: ease-in-out 2s;
}
.title:hover{
    font-family: algerian;
    color: darkgreen;
    text-shadow: 1px 1px 5px black;
}
img{
    width: 100%;
    height: 100%;
    display: block;
}
.imgContainer1, .imgContainer2{
    width: 200px;
    height:200px ;
    border: ridge 12px orangered;
    transition: ease 2s;
    overflow: hidden;
    margin: 5em;
}
.imgContainer1:hover{
    border-radius: 50%;
    border: dotted 10px black;
    transform: translate(500px);
}

.imgContainer2:hover{
    border-radius: 50%;
    border: dashed 10px rgb(135, 216, 5);
    transform: scale(1.3);
}
.card{
    width: 30%;
    box-shadow: 1px 1px 5px rgb(233, 108, 6);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 5em;
    transition: ease 300ms;
}
.cardMsg{
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 2%;
    right: 2%;
    text-align: center;
    color: rgb(39, 214, 16);
}
.card:hover{
    box-shadow:0px 0px 5px 3px yellowgreen ;
    width: 29%;

}
 /*---------- CLASS ACTIVITY ----------*/
 .container{
    display: flex;
    flex-wrap: wrap;
    color: black;
    background-color: orangered;
 }

 .title:hover{
    font-family: algerian;
    color: darkgreen;
    text-shadow: 1px 1px 5px black;
}


 .card2, .card3, .card4, .card5{
    width: 20%;
    box-shadow: 1px 1px 5px rgb(233, 108, 6);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 5em;
    transition: ease 300ms;
}

.card2{
    width: 22%;
    box-shadow: 1px 1px 5px rgb(233, 108, 6);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 1em;
    transition: ease 300ms;
}
 
.card3{
    width: 22%;
    box-shadow: 1px 1px 5px rgb(233, 6, 112);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 1em;
    transition: ease 300ms;
}

.card4{
    width: 22%;
    box-shadow: 1px 1px 5px rgb(6, 112, 233);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 1em;
    transition: ease 300ms;
}

.card5{
    width: 22%;
    box-shadow: 1px 1px 5px rgb(116, 233, 6);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 1em;
    transition: ease 300ms;
}