.title{
    background-color: aquamarine;
color: cornflowerblue;
padding:1em;
text-align:center;
}

.img1, .img2, .img3, .img4, .img5, .img6 {
    width: 45%;
    margin: 2%;
}
.img1{border-radius:15px;
}

.img2{
    border-radius: 50px;
}

.img3{
    border:coral ;
    padding: 1em;
        background-color: lightseagreen
    }
.img4{box-shadow: 0PX 0PX,5PX 2PX;}

.img5{
    padding: 1em;
    background-color: blue;
    border-radius: 50%;
}
.img6{ background-color: darkgreen;
border-radius: 50%;
padding: 1em;}

